# Flask Configuration
SECRET_KEY=your-secret-key-here
DEBUG=True

# Server Configuration
HOST=0.0.0.0
PORT=5059

# Database
DATABASE_PATH=database.db

# API
API_MAISMILIONARIA_URL=https://servicebus2.caixa.gov.br/portaldeloterias/api/maismilionaria
