# Flask Configuration
SECRET_KEY=your-secret-key-here
DEBUG=True

# Server Configuration
HOST=0.0.0.0

# +Milionária Port
PORT_MAISMILIONARIA=5059

# Dupla Sena Port (modalidade separada)
PORT_DUPLASENA=5060

# Database
DATABASE_PATH=database.db
DATABASE_PATH_DUPLASENA=duplasena.db

# API
API_MAISMILIONARIA_URL=https://servicebus2.caixa.gov.br/portaldeloterias/api/maismilionaria
API_DUPLASENA_URL=https://servicebus2.caixa.gov.br/portaldeloterias/api/duplasena
