# Flask Configuration
SECRET_KEY=your-secret-key-here
DEBUG=True

# Server Configuration
HOST=0.0.0.0
PORT=5060

# Database
DATABASE_PATH_DUPLASENA=duplasena.db

# API
API_DUPLASENA_URL=https://servicebus2.caixa.gov.br/portaldeloterias/api/duplasena
